body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #FFFFFF solid;
    background-color: white;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    box-sizing: border-box; 
}

#qrCode {
    border-radius: 10px;
    height: 288px;
    width: 288px;
    box-sizing: border-box;
}

.textContainer {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 28px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

#title {
    font-size: 22px;
    color: #1F314F;
    font-weight: 700;
}

#text {
    margin-top: 16px;
    font-size: 15px;
    color: #7D889E;
}